---
import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
    <h1>about</h1>
    <p>
        Hi, I am Crystal (he/him). I am in senior high school and live in Nepal.
        I spend most of my time online experimenting with anything that catches
        my curiosity. I find computers, the universe, and spacecraft
        fascinating. I like many different things and sometimes have trouble
        choosing what to focus on.
    </p>
    <p>
        I code whenever I get a random idea or need to solve a problem. I am
        still learning and improving. I am also into homelabbing. Right now I am
        learning drawing, 3D modeling, and C++, although school keeps me pretty
        busy. My long term plan is to study aerospace engineering.
    </p>
    <p>
        In my free time I play games. Recently I have been playing CS2,
        Wuthering Waves, ETS 2, and NieR: Automata. I also got into aim training
        and have been playing KovaaK's, mostly Viscose's Benchmark. I am on
        Steam at
        <a href="https://steamcommunity.com/id/lattisse/" target="_blank"
            >lattisse</a
        >.
    </p>
    <p>
        I daily drive Linux. I am mostly on CachyOS, but I also use Fedora and
        vanilla Arch. KDE is my preferred desktop environment. If you ever want
        to talk tech, games, or space stuff, my Discord username is on the home
        page, but please don't say just <a
            href="https://nohello.net/en/"
            target="_blank"
            >hello
        </a>in chat.
    </p>
</Layout>
