---
import Layout from "../layouts/Layout.astro";
import Github from "../assets/icons/github.svg";
import Email from "../assets/icons/envelope-at-fill.svg";
import Discord from "../assets/icons/discord.svg";
---

<Layout>
    <h1>about</h1>
    <p>
        Hi, I am Crystal (he/him). I am in senior high school and live in Nepal.
        I am mostly on the internet experimenting with things I find
        interesting. I find computers, universe, and spacecrafts very
        fascinating. I like all the things I think are cool and have trouble
        deciding.
    </p>
    <p>
        I code sometimes, when I get a random idea or to solve problems I get. I
        am also into homelabbing. I am learning drawing, 3D modeling and C++
        (barely, so much school work!) I am also trying to self-learn Japanese
        but I don't think its going anywhere. I am planning to study aerospace
        engineering.
    </p>
    <p>
        In my free time I like to play games. Recently, I have been playing CS2,
        Wuthering Waves, ETS 2, and NieR: Automata. I also got myself into aim
        training and have started playing KovaaK's, mostly Viscose's Benchmark.
        I am on steam at <a
            href="https://steamcommunity.com/id/lattisse/"
            target="_blank">lattisse</a
        >.
    </p>
    <p>
        I daily drive Linux, I recently switched to CachyOS from vanilla Arch. I
        also frequently run Fedora and Kali Linux. KDE is my goto desktop
        environment.
    </p>
</Layout>
