---
import Layout from "../layouts/Layout.astro";
import Github from "../assets/icons/github.svg";
import Email from "../assets/icons/envelope-at-fill.svg";
import Discord from "../assets/icons/discord.svg";
import { getCollection } from "astro:content";
const posts = (await getCollection("blog"))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 2);
---

<Layout>
    <h1>lattisse</h1>
    <p>
        Hi! I'm Crystal. I do a bit of programming, some homelabbing, and play a
        lot of games. Right now, I'm learning C++, drawing, and 3D modeling. I
        like physics, rockets, and space.
    </p>
    <p>Currently reading <span>A Short History of Nearly Everything</span></p>
    <h3>recent posts</h3>
    <ul>
        {
            posts.map((post) => (
                <li class="blinks">
                    <a href={`/blog/${post.id}`}>{post.data.title}</a>
                    <span style="color:#ccc; margin-left: 1rem; font-size: 0.9em;">
                        {
                            new Date(post.data.pubDate)
                                .toISOString()
                                .split("T")[0]
                        }
                    </span>
                </li>
            ))
        }
    </ul>
    <h3>links</h3>
    <ul>
        <li>
            <Discord />
            <a
                href="https://discord.com/users/541270973375184906"
                target="_blank">@lattisse</a
            >
        </li>
        <li>
            <Github />
            <a href="https://github.com/lattisse" target="_blank">lattisse</a>
        </li>
        <li>
            <Email />
            <a href="mailto:hi@crstl.me" target="_blank">hi@crstl.me</a>
        </li>
    </ul>
</Layout>

<style>
    li {
        list-style: none;
        margin: 0;
    }

    ul {
        padding: 0;
    }

    .blinks a {
        color: inherit;
    }
    .blinks a:hover {
        text-decoration: underline;
    }
</style>
