---
import Layout from "../layouts/Layout.astro";
import Github from "../assets/icons/github.svg";
import Email from "../assets/icons/envelope-at-fill.svg";
import Discord from "../assets/icons/discord.svg";
---

<Layout>
    <p>nownownow</p>
</Layout>
