<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Crystal" />
        <meta
            name="description"
            content="I write about Linux, coding, physics, and space - mostly random stuff I find cool or want to experiment with."
        />
        <meta property="og:title" content="blog - crstl" />
        <meta
            property="og:description"
            content="I write about Linux, coding, physics, and space - mostly random stuff I find cool or want to experiment with."
        />
        <meta property="og:url" content="https://crstl.me/blogs/" />
        <meta property="og:site_name" content="crstl" />
        <link rel="stylesheet" href="../static/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="icon"
            href="/static/images/gfavicon.png"
            type="image/x-icon"
        />
        <title>blog - crstl</title>
    </head>
    <body>
        <div class="container">
            <nav class="nav">
                <li><a href="/">home</a></li>
            </nav>

            <h1 class="greeting">blog</h1>
            <div class="posts">{{ posts }}</div>
        </div>
    </body>
</html>
