---
import Head from "../components/Head.astro";
import Navbar from "../components/NavBar.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <Head title={title} description={description} />
        <script
            defer
            src="https://cloud.umami.is/script.js"
            data-website-id="aea512f6-1648-4027-983b-8884645c7a18"></script>
    </head>
    <body>
        <Navbar />
        <main>
            <slot />
        </main>
    </body>
</html>
